/*SF UI Display*/

@font-face {
  font-family: "SF UI Display Ultralight";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Ultralight"),
    url("./fonts/sf-ui-display/sf-ui-display-ultralight.woff") format("woff");
}

@font-face {
  font-family: "SF UI Display Thin";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Thin"),
    url("./fonts/sf-ui-display/sf-ui-display-thin.woff") format("woff");
}

@font-face {
  font-family: "SF UI Display Light";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Light"),
    url("./fonts/sf-ui-display/sf-ui-display-light.woff") format("woff");
}

@font-face {
  font-family: "SF UI Display Medium";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Medium"),
    url("./fonts/sf-ui-display/sf-ui-display-medium.woff") format("woff");
}

@font-face {
  font-family: "SF UI Display Semibold";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Semibold"),
    url("./fonts/sf-ui-display/sf-ui-display-semibold.woff") format("woff");
}

@font-face {
  font-family: "SF UI Display Bold";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Bold"),
    url("./fonts/sf-ui-display/sf-ui-display-bold.woff") format("woff");
}

@font-face {
  font-family: "SF UI Display Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Heavy"),
    url("./fonts/sf-ui-display/sf-ui-display-heavy.woff") format("woff");
}

@font-face {
  font-family: "SF UI Display Black";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Display Black"),
    url("./fonts/sf-ui-display/sf-ui-display-black.woff") format("woff");
}
